[submodule "submodules/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/Assimp"]
	path = external/Assimp
	url = https://github.com/assimp/assimp.git
